.left{
    float: left;
    background:#5A738E;
    height: 1160px;
    width: 220px;
}
.botton{
    font-family: cursive;
    width: 205px;
    display: block;
    margin: 6px;
    margin-top: 6vh;
    padding: 11px 60px;
    background: #58D3F7;
    font-weight: 600;
    color: white;
    font-size: 9px;
    border-radius: 6px;
    border: 2px;
    transition: all 0.3s ease;
    box-shadow: 0 0 7px 0 #BDBDBD;
    cursor: pointer;
    text-align: center;
}

.boton:hover{
    color: white;
    background: red;
    font-size: 18px;
    margin-top: 10px;
}
nav{
  float: right;
  background: white;
  height: 580px;
  width: 1950px;
  margin-top: 0;
  color: red;
}
.principal{
  color: black;
  background: white;
  height: 600px;
  width: auto;
  }
h1{
  text-align: left;
  padding: 10px;
  }
*{
  margin: 0;
  padding: 0;
}
#nombre1, #apellido1, #correo1, #pais1, #celular1{
  color: black;
  text-align: left;
  font-weight: 950;
  font-size: 30px;
  margin-top: 1vh;
}
#bit{
  font-family: serif;
  padding: 15px;
  color: red;
  font-size: 55px;
  }
#nombre{
  margin-left: 50px;
}
#map { height: 1160px; }
