
<div id="container" style="width: 75%;">
    <canvas id="myChart" data-url="{% url 'myChart' id=id %}" > </canvas>
    <canvas id="myChart2" data-url="{% url 'myChart2' id=id %}" > </canvas>
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $myChart = $("#myChart");
      $.ajax({
        url: $myChart.data("url"),
        success: function (data) {

          var ctx = $myChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Valor',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Temperaturas'
              }
            }
          });

        }
      });

    });
    $(function () {

var $myChart2 = $("#myChart2");
$.ajax({
  url: $myChart2.data("url"),
  success: function (data) {

    var ctx = $myChart2[0].getContext("2d");

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data.labels,
        datasets: [{
          label: 'Valor',
          backgroundColor: 'blue',
          data: data.data
        }]          
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Precipitaciones'
        }
      }
    });

  }
});

});

  </script>